type file
id zen_secp256k1_linux
licenseUrl https://raw.githubusercontent.com/bitcoin-core/secp256k1/master/COPYING
version 0.1.0.23-v6ad5cdb42a1a
authors 
  Pieter Wuille and secp256k1 contributors
description 
  secp256k1 for linux
files
  zen_secp256k1_linux.targets ==> build/net40
  ../secp256k1/.libs/libsecp256k1.so ==> output/ 
