type file
id zen_z3_osx
licenseUrl https://github.com/Z3Prover/z3/blob/master/LICENSE.txt
version 4.5.1.4-v1f29cebd4df6
authors Microsoft
description 
  Z3 Prover for linux
files
  zen_z3_osx.targets ==> build/net40
  ../z3/build/z3* ==> output/ 
